body {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0px;

  background-color: #e1e3ac;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  border-radius: 10px;
}
.label{
  display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto; 
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* justify-content: space-around; */
  gap: 4px;
  width: 100%;
}

/* button {
  background-color: aquamarine;
  border-color: #333;
  cursor: pointer;
  margin-top: 10px;

}

button:hover {
  background-color: aqua;
  border-color: white;
  box-shadow: #333;

} */


.button-25 {
  background-color: #648a64;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 85%;
}

.button-25:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}



#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
}

#popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#popup-title {
  font-size: 24px;
  margin-bottom: 10px;
}

#popup-definition {
  font-size: 16px;
  line-height: 1.5;
}

.dic {
  background-color: aqua;
  width: 500px;
  position: fixed;
  display: block;
}

.titulo {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #46685b;
  width: 100%;
}


.titulo h3 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.voz{
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 2px;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
}



/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}